* {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(`https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?q=80&w=2070`);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.contenedor  {   
    width: 90%;
    max-width: 470px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
    color: #fff;
    margin: 100px auto 0;
    border-radius: 25px;
    padding: 40px 35px;
    text-align: center;
}

 .buscador  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 input  {
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
 }
 input: ::placeholder {
    color: rgba(255, 255, 255, 0.7);
 }

 button  {
    border: 0;
    outline: 0;
    background: rgba(25, 255, 255, 0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
 }

 button:hover {
    background:rgba(255, 255, 255, 0.5);
    transform: scale(1.1) rotate(15deg);
 }
 button img  {
    width: 25px;
 }


 .clima_icono  {
    width: 170px;
    margin-top: 30px;
    animation: flotar 3s ease-in-out infinite;
 }
 @keyframes flotar {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(-10px);}
 }

 .climaTexto  {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: -25px;
    font-style: italic;
}

h1  {
    font-size: 80px;
    font-weight: 500;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h2  {
     font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
    }
    .temperatura, .clima_icono, .detalles {
        animation: fadeIn 0.8s ease-out;
    }
    @keyframes fadeIn {
       from {
        opacity: 0;
        transform: translateY(20px);
    } 
    to{
        opacity: 1;
        transform: translateY(0);
       }
    }
    
.detalles  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

}

.col  {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humedad, .viento  {
    font-size: 28px;
    margin-top: -6px;
}